<style>
.juntos{
    display: block;
}
.panel .panel-body {
    padding: 5px;
}

address {
    margin-bottom: 5px;
    font-style: normal;
    line-height: 1.42857143;
}

, strong {
    font-weight: 700;
}

b, strong {
    font-weight: bold;
}

.pull-right {
    text-align:right;
}
.pull-left {
	text-align:left;
}

.m-t-30 {
    margin-top: 10px !important;
}

.text-right {
    text-align: right;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.clearfix {
	display: inline-block;
}

strong, b {
    font-weight: bold;
}
</style>


